/*!
 * Start Bootstrap - Shop Item (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}

#content {
    height: 100%;
    min-height: 800px;
    min-width: 800px;
    overflow-y: hidden;
}

div#infscr-loading img {
	display : none;
	text-align: center;
}

div#infscr-loading{
	text-align: center;
}

ul.list-group li:hover{ 
    background-color: #d7e7f5;
}

.loader-large{
	font-size:48px;
	color:#337ab7;
}

button {
    margin-left: 10px;
}
.navbar-productlist-header {
    background-color: #337ab7;
    border-color: #e7e7e7;
}
.navbar-productlist-header .navbar-header .navbar-brand{
	color: #fff;
}

.ui-dialog-titlebar {
     background:#337ab7;
     color: #fff;
     font-family: Roboto,helvetica,arial,sans-serif;
     font-weight:normal;
 }
 
.captcha-title .ui-dialog-titlebar .ui-dialog-titlebar-close 
{
    display:none;
}

.ui-widget-overlay {
	background: #fff;
  	opacity: 0.6;
}
